<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Emilia - Acerca de mí</title>
</head>
<body class="about">
    <header class='row'>
        <nav class="menu">
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/about">about</a></li>
                <li><a href="/music">music</a></li>
                <li><a href="/contact">contact</a></li>
            </ul>
        </nav>
        <nav class="redes">
            <a href=""><i class="fab fa-twitter"></i></a>
            <a href=""><i class="fab fa-facebook-square"></i></a>
            <a href=""><i class="fab fa-instagram"></i></a>
            <a href=""><i class="fab fa-apple"></i></a>
            <a href=""><i class="fab fa-amazon"></i></a>
            <a href=""><i class="fab fa-spotify"></i></a>
        </nav>
    </header>
    <main>
        <h1 class="titulo">About<br>Emilia //</h1>
        <section>
            <article>
                <h3>"Seattle-based pop star makes her<br> indie debut with a hauntingly beautiful album"</h3>
                <p>- John Tirckle, Music Today Post</p>
            </article>
            <article>
                <h3>"Emilia Cole is one of the<br> scene's breakout stars"</h3>
                <p>- John Tirckle, Music Today Post</p>
            </article>
        </section>
    </main>
</body>
</html>