<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Emilia - Música</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/about">about</a></li>
                <li><a href="/music">music</a></li>
                <li><a href="/contact">contact</a></li>
            </ul>
        </nav>
        <nav>
            <a href=""><i class="fab fa-twitter"></i></a>
            <a href=""><i class="fab fa-facebook-square"></i></a>
            <a href=""><i class="fab fa-instagram"></i></a>
            <a href=""><i class="fab fa-apple"></i></a>
            <a href=""><i class="fab fa-amazon"></i></a>
            <a href=""><i class="fab fa-spotify"></i></a>
        </nav>
    </header>
    <main>
        <h1>Music //</h1>
        <h4>Direct links</h4>
        <ul>
            <li><a href="#album">Album</a></li>
            <li><a href="#organic">Video: Organic Love</a></li>
            <li><a href="#street">Video: Street Light</a></li>
        </ul>
        <!-- sección del albúm -->
        <section>
            <h2 id="album">ALBUM<br>TWIST IN MY REALITY</h2>
            <img src="/images/emilia-play-list.png" alt="" width="640">
            <ol>
                <li><i class="fas fa-play"></i> Organic Love | 02:40</li>
                <li><i class="fas fa-play"></i> Twist In My Reality | 02:10</li>
                <li><i class="fas fa-play"></i> Street Light | 03:28</li>
                <li><i class="fas fa-play"></i> Love Don’t Live Here Anymore (Cover) | 03:49</li>
            </ol>
            <a href="#">Go top</a>
        </section>
        <!-- sección de videos -->
        <section>
            <article>
                <h2 id="organic">VIDEO<br>ORGANIC LOVE</h2>
                <iframe src="https://player.vimeo.com/video/135166028" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                <p>Directed by VINCE MALC & EMILIA COLE</p>
                <p>Edited and Filmed by NICOLAS TROY</p>
                <p>Produced by NIKI HEART,</p>
                <p>Wix Films LTD.</p>
                <a href="#">Go top</a>
            </article>
            <article>
                <h2 id="street">VIDEO<br>STREET LIGHT</h2>
                <iframe src="https://player.vimeo.com/video/134861419" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                <p>Directed by VINCE MALC & EMILIA COLE</p>
                <p>Edited and Filmed by NICOLAS TROY</p>
                <p>Produced by NIKI HEART,</p>
                <p>Wix Films LTD.</p>
                <a href="#">Go top</a>
            </article>
        </section>
    </main>
</body>
</html>